@import "index.scss";

$dialog-with: 400px;

.new-notification-dialog-content {
  width: $dialog-with;
  min-width: $dialog-with;
  padding-top: 24px !important;
}

.new-notification-dialog-close-button {
  position: absolute !important;
  transform: translateX(-100%);
  left: 95%;
  background: rgba(0, 0, 0, 0.1) !important;
}

.new-notification-dialog-title {
  background: $primary;
  display: flex;
  justify-content: space-between;
  width: $dialog-with;

  h2 {
    color: white;
  }
}

.close-button {
  color: white;
}
