body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

body:not(.is-mobile) ::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
  border-radius: 24px; }

body:not(.is-mobile) ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0); }

.new-notification-dialog-content {
  width: 400px;
  min-width: 400px;
  padding-top: 24px !important; }

.new-notification-dialog-close-button {
  position: absolute !important;
  transform: translateX(-100%);
  left: 95%;
  background: rgba(0, 0, 0, 0.1) !important; }

.new-notification-dialog-title {
  background: #08c;
  display: flex;
  justify-content: space-between;
  width: 400px; }
  .new-notification-dialog-title h2 {
    color: white; }

.close-button {
  color: white; }
