body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

body:not(.is-mobile) ::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
  border-radius: 24px; }

body:not(.is-mobile) ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0); }

.page-title-container {
  background: #08c;
  color: white;
  height: 120px;
  min-height: 120px;
  display: flex;
  padding-left: 50px; }

.page-title {
  align-self: center; }

.page-icon {
  margin-right: 15px; }
