@import "index.scss";

.page-title-container {
  background: $primary;
  color: white;
  height: 120px;
  min-height: 120px;
  display: flex;
  padding-left: 50px;
}

.page-title {
  align-self: center;
}

.page-icon {
  margin-right: 15px;
}
